
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<헤더+네비바>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
body{
    width: 100%;
    height: 100vh;
}
/* a 태그 기본 스타일 제거 */
a {
    color: inherit; /* 링크 색상 제거 */
    text-decoration: none; /* 밑줄 제거 */
    background: none; /* 배경색 제거 */
    outline: none; /* 포커스시 나타나는 외곽선 제거 */
}


/* 메인 컨테이너 */
.main-container {
    width: 1000px;
    height: 664px;
    margin: 0 auto;
    background-color: #1B494C;
    box-shadow: 0px 2.49px 7.18px rgba(0, 0, 0, 0.16); 

    display: flex;
    flex-direction: column;
}


/* 헤더 */
.main-container header{
    height: 10%;
    background-color: #ffffff;
    /*justify-content: space-around;/*로고와 로그아웃버튼 양쪽 분리*/
    align-items: center;/* 높이를 맞춰 중앙 정렬 */
    box-shadow: 0px 2.49px 7.18px rgba(0, 0, 0, 0.16);  

    position: relative;
}
/* 로고 + 타이틀 */
.main-container header .admin-logo{
    display: flex;
    align-items: center; /* 로고이미지와 타이틀 높이 맞춰 중앙 정렬*/

    position: absolute;
    top: 15px;
    left: 15px;
}
/* 로고 이미지 */
.main-container header .admin-logo img{
    width: 29px;
    margin-right: 3px;
}
/* 타이틀 : 관리자 전용 사이트 */
.main-container header .admin-logo div{
    color: #0B3051; /* span 안되서 div로 변경함💥*/
    font-weight: bold;/* 안먹힘 💥*/
    font-size: 14.96px;
}
/* 나가기 버튼 box */
.main-container header .admin-logout__btn{
    width: 35px;
    height: 18px;
    border: 1px solid #0B3051;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left:950px;
    top: 18px;
}
/* 나가기 폰트 */
.main-container header .admin-logout__btn a{
    font-size: 10px; 
    color:#0B3051;
}



/* 좌측 네비바 */
.main-container nav{
    width: 15%;
    height: auto; /* 높이를 컨텐츠에 맞춤 */
    background-color: #ffffff;
    padding: 9.58px 19px 405px 19px;
}
/* 네비바 전체 */
.main-container nav ul{
    padding-top: 17px;
    padding-left: 13px;

    /* li들간에 위아래 간격 9px주기 */
    display: flex;
    flex-direction: column;
    gap:9px
}
.main-container nav ul li{
    display: flex;
    height: 26px;
    align-items: center ;
}
.main-container nav ul li .nav-logo{
    margin-right: 11.76px;
}
.main-container nav ul li .nav-title{

}
.main-container nav ul li .nav-logo img{
    width: 14px;
}
.main-container nav ul li .nav-title a{
    font-size: 12px;
    color: #5D7285;
}
/* 대쉬보드 선택일떄 (선택인 카테고리로 바꿔주기) */
.main-container nav ul li:first-child{
    background-color: #F0F6FF;
    width: 151px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* 네비바+메인화면의 부모인 main */
main{
    display: flex;
}
/* 타이틀 + 카운팅카드뷰 + 에코프젝 + 그래프의 부모 */
main .content-box{
    display: flex;
    flex-direction: column;

    position: relative;
}
/* 타이틀 */
main .content-box .page-title-box{
    margin-left: 38px;
    margin-top: 15px;
}
main .content-box .page-title-box .page-title{
    font-size: 20px;
    color: #ffffff;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* 버튼 reset css */
button{
    background: none;      /* 배경 제거 */
    border: none;          /* 테두리 제거 */
    padding: 0;            /* 기본 패딩 제거 */
    margin: 0;             /* 기본 마진 제거 */
    box-shadow: none;      /* 그림자 제거 */
    cursor: pointer;       /* 마우스를 올리면 클릭 커서가 나타나도록 설정 */
    outline: none;         /* 포커스시 나타나는 외곽선 제거 */
}
/* 검색창 */
.search-input{
    position: relative;
    width: 223.35px;
    position: absolute;
    left:67%;
    top: 3%
}
.search-input input{
   width: 100%;
    padding: 1px;

}
/* 검색창 placeholder 디자인 */
.search-input input::placeholder{
    font-size: 10px;
    color:#999999; 
}
/* 검색창 아이콘 */
.search-input .icon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);/*해당 요소를 자신의 높이의 50%만큰 위로 수직 이동시킴*/
    pointer-events: none;/*아이콘이 클릭되지 않도록 설정*/

}
/* 흰색 게시판 전체 */
.content{
    width: 736px;
    height: 506px;
    background-color: #FFFFFF;

    margin-right: 35px;
    margin-left: 38px;
    margin-top: 20px;

}
/* 토글버튼 css */
.toggle-btn-container{
    padding: 8px;
    padding-left: 20px;

}
.toggle-btn-container button{
    margin-right: 10px;
}
.toggle-btn-container{

}
.toggle-btn-container button{
    color:#6A6A6A;
    font-size: 12px;
}
/* 버튼 활성화 : .active-btn 클래스 붙었을 때 */
.toggle-btn-container button.active-btn{
    color: black;
    font-weight: bold;
    border-bottom: 3px solid black;
    padding-bottom: 3px;
}

/* 테이블 css */
table {
    width: 100%;
    border-collapse: collapse;/* 테두리 겹치기 */
}
.table-hidden{
    display: none;
}
th, td {
    padding: 7px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 10px;
    box-sizing: border-box; /*패딩 및 테두리 크기 포함*/
}
th {
    color:#FFFFFF;
    background-color: black;
    padding:10px;
}
/* 페이지네이션 css */
.pagination{
    position: absolute;
    right: 42%;
    bottom: 9%;
}
.page{
    color: black;
    font-size: 7px;
    /* border: 1px solid black; */
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #E0E0E0;
}
.pagination .active{
    color: #ffffff;
    background-color: #30595C;
}
.prev, .next{
    font-size: 7px;
    color: #9E9E9E;
}